body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-213px;
  width:452px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:294px;
  top:65px;
  width:90px;
  height:26px;
  font-size:16px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:384px;
  top:65px;
  width:150px;
  height:26px;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:264px;
  top:131px;
  width:120px;
  height:26px;
  font-size:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:264px;
  top:162px;
  width:120px;
  height:26px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:295px;
  top:96px;
  width:90px;
  height:26px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:26px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:385px;
  top:96px;
  width:150px;
  height:26px;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:265px;
  top:195px;
  width:120px;
  height:26px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:377px;
  top:233px;
  width:240px;
  height:136px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:136px;
}
#u15 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:544px;
  top:245px;
  width:70px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u17 {
  position:absolute;
  left:544px;
  top:310px;
  width:70px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:382px;
  top:245px;
  width:72px;
  height:25px;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:382px;
  top:312px;
  width:92px;
  height:27px;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:382px;
  top:270px;
  width:132px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:381px;
  top:333px;
  width:132px;
  height:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:256px;
  top:394px;
  width:120px;
  height:26px;
  font-size:16px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:224px;
  top:816px;
  width:78px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:264px;
  top:488px;
  width:120px;
  height:26px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:385px;
  top:486px;
  width:150px;
  height:26px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:233px;
  top:517px;
  width:149px;
  height:26px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:391px;
  top:516px;
  width:45px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u36 {
  position:absolute;
  left:213px;
  top:696px;
  width:158px;
  height:19px;
  font-size:16px;
  text-align:right;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:374px;
  top:695px;
  width:240px;
  height:100px;
  font-size:16px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:100px;
}
#u39 {
  position:absolute;
  left:0px;
  top:42px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:495px;
  top:698px;
  width:100px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u41 {
  position:absolute;
  left:378px;
  top:699px;
  width:126px;
  height:23px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:378px;
  top:724px;
  width:216px;
  height:13px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:13px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:378px;
  top:740px;
  width:226px;
  height:10px;
}
#u45_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_end {
  position:absolute;
  left:209px;
  top:-5px;
  width:18px;
  height:20px;
}
#u45_line {
  position:absolute;
  left:0px;
  top:5px;
  width:226px;
  height:1px;
}
#u46 {
  position:absolute;
  left:494px;
  top:749px;
  width:100px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u47 {
  position:absolute;
  left:377px;
  top:752px;
  width:126px;
  height:23px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:23px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:377px;
  top:777px;
  width:216px;
  height:13px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:13px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:296px;
  top:549px;
  width:87px;
  height:26px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:375px;
  top:557px;
  width:240px;
  height:87px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:87px;
}
#u54 {
  position:absolute;
  left:2px;
  top:36px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:478px;
  top:569px;
  width:61px;
  height:26px;
  font-size:16px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:536px;
  top:569px;
  width:129px;
  height:26px;
  font-size:16px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:383px;
  top:605px;
  width:153px;
  height:26px;
  font-size:16px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:26px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:536px;
  top:605px;
  width:129px;
  height:26px;
  font-size:16px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:26px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:384px;
  top:127px;
  width:200px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u64 {
  position:absolute;
  left:384px;
  top:160px;
  width:200px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u65 {
  position:absolute;
  left:378px;
  top:388px;
  width:217px;
  height:88px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:88px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u66 {
  position:absolute;
  left:378px;
  top:816px;
  width:78px;
  height:25px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u67 {
  position:absolute;
  left:536px;
  top:815px;
  width:78px;
  height:25px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u68 {
  position:absolute;
  left:377px;
  top:196px;
  width:70px;
  height:25px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u69 {
  position:absolute;
  left:296px;
  top:656px;
  width:87px;
  height:26px;
  font-size:16px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:26px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:390px;
  top:655px;
  width:45px;
  height:25px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
