body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-139px;
  width:481px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:208px;
  top:90px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:187px;
  top:738px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u3 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:494px;
  top:872px;
  width:100px;
  height:25px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:208px;
  top:130px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:208px;
  top:170px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u8 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:208px;
  top:218px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u10 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:187px;
  top:778px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u12 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:299px;
  top:782px;
  width:240px;
  height:22px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
}
#u13_input:disabled {
  color:grayText;
}
#u14 {
  position:absolute;
  left:320px;
  top:97px;
  width:242px;
  height:23px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:23px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:320px;
  top:137px;
  width:242px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:23px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:320px;
  top:177px;
  width:242px;
  height:23px;
  font-size:16px;
  color:#000000;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:23px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:299px;
  top:745px;
  width:242px;
  height:40px;
  font-size:16px;
  color:#000000;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:40px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:139px;
  top:818px;
  width:130px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u23 {
  position:absolute;
  left:0px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:299px;
  top:822px;
  width:240px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25 {
  position:absolute;
  left:300px;
  top:221px;
  width:240px;
  height:136px;
  font-size:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:136px;
}
#u26 {
  position:absolute;
  left:0px;
  top:60px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:467px;
  top:233px;
  width:70px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:467px;
  top:298px;
  width:70px;
  height:25px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u29 {
  position:absolute;
  left:305px;
  top:233px;
  width:72px;
  height:25px;
  font-size:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:305px;
  top:300px;
  width:92px;
  height:27px;
  font-size:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:27px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:305px;
  top:258px;
  width:132px;
  height:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:304px;
  top:321px;
  width:132px;
  height:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:294px;
  top:872px;
  width:100px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:188px;
  top:362px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u39 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:188px;
  top:444px;
  width:82px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u41 {
  position:absolute;
  left:0px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:300px;
  top:454px;
  width:320px;
  height:108px;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:108px;
}
#u43 {
  position:absolute;
  left:0px;
  top:46px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:305px;
  top:472px;
  width:79px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:306px;
  top:500px;
  width:92px;
  height:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:300px;
  top:366px;
  width:320px;
  height:80px;
  font-size:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u49 {
  position:absolute;
  left:0px;
  top:32px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:295px;
  top:390px;
  width:85px;
  height:30px;
  text-align:right;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u51 {
  position:absolute;
  left:0px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:305px;
  top:533px;
  width:92px;
  height:16px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:394px;
  top:534px;
  width:118px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:160px;
  top:682px;
  width:110px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u57 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:300px;
  top:693px;
  width:240px;
  height:30px;
  font-size:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:30px;
}
#u59 {
  position:absolute;
  left:0px;
  top:-4px;
  width:240px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:157px;
  top:566px;
  width:110px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:157px;
  top:622px;
  width:110px;
  height:30px;
  font-size:16px;
  text-align:right;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u63 {
  position:absolute;
  left:0px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:391px;
  top:392px;
  width:150px;
  height:26px;
  font-size:16px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:26px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:384px;
  top:472px;
  width:200px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:300px;
  top:576px;
  width:320px;
  height:44px;
  color:#000000;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:300px;
  top:626px;
  width:320px;
  height:32px;
  color:#000000;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:32px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
