body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:218px;
  top:105px;
  width:113px;
  height:15px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:15px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:218px;
  top:230px;
  width:144px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:15px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
